.text-shadow {
   text-shadow: 1px 1px 2px black, 
        0 0 1em blue;
}
.box-shadow {
    box-shadow: 1px 1px 2px 5px black;
}
.rounded-corners {
  border-radius: 20px;
  background-color: brown;
  padding: 20px; 
  width: 200px;
  height: 100px; 
}
.multiple-backgrounds {
    background: url(./images/img1.jpg) top left no-repeat, 
        url(./images/img2.jpg) top right no-repeat #f00;
}