body {
    background-color: white;
}
.flex-container{
 display: flex;
 justify: content 200px;;
 font-size: large;
 font-style: normal;
}
.top-container {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.pret-container {

}
h1 {
color: black;
text-align: right;
}
img {
float: left;
margin: 5px;
size: 0%;;
}
p {
text-align: center;
font-size: 20px;
}

