/* overall body */
body {
   background-color: #84d4f4;
 
} 
/* Selectors and Rules */

.flex-container {
display: flex;
justify-content: space-evenly;
background-color: darkseagreen;
}

.welcome {
  text-align: center;
}
.login {
  text-align: center;
}
.topnav{
  text-align: center;
}
.img-container {
  position: relative;
  top: 50%;
  width: 120%;
  text-align: center;
  font-size: 18px;
}
.size {
  font-size: 18px;
}
.Colour {
  font-size: 18px;
}
.funny {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 10px;
}
/* container makes a area of content */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.d-flex {
  display: flex;
}
.justify-content-sa {
  justify-content: space-around;
}
.form-control {
  min-width: 80px;
  padding: 4px 8px;
}
.btn {
  padding: 5px 20px;
  border-radius: 8px;
}
.btn-submit {
  background: #fff;
  border-color: #fff;
}
.contact{
 text-align: center;
 position: relative;
}
.bottom-container{
    position: relative;
    text-align: center;
}
/* targeting screen */
@media screen and (min-width: 600px) {
  body {
    background-color: #f48484;
    
  }
}
/* targeting printer */
@media print (min-width: 500px) {
  body {
    background-color: #f48484;
    color: white; 
  } 
}
.transitions {
  background-color: #f00;
  color: white;
  text-align: center;
  padding-top: 30px;
  width: 300px;
  height: 50px;
  transition: transform 2s ease-in-out;
  /*
transition can be used for properties in psudo state (transition hover) - Things that are meant to change 
e.g. 
transition: all 2s ease-in-out;
transition: width 2s ease-in-out;
*/
}
.transitions:hover {
  background-color: aqua;
  width: 200px;
  transform: rotate(20deg);

}
.animation {
  background-color: #f00;
  color: white;
  text-align: center;
  padding-top: 30px;
  width: 100px;
  height: 50px;
  animation:demo-one 8s infinite;  /* This is the trigger animation rule*/
}
@keyframes demo-one { /* This is the stage where rules begins */
  0% {
    width: 20px;
    transform: scale(1.5);
  }
  20% {
    transform: scale(1);
  }
  25% {
    background-color: #0000FF;
  }

  50% {
    background-color: green;
  }
  75% {
    transform: translateX(100%);
  }
  100% {
    width: 20px;
    transform: scale(1.5);
  }
}

/* target multiple devices
@media screen, print {

} */

/* Target min and max best practice */

/* target min
@media (min-width: 500px) {
  .container {
  padding: 20px;
  background-color: red;
  }
} */

/* target max
@media (min-width: 700px) {
  .container {
  padding: 70px;
  background-color: blue;
  }
} */
