/* overall body */
body {
   background-color: #84d4f4;
 
} 
/* Selectors and Rules */

.flex-container {
display: flex;
justify-content: space-evenly;
background-color: darkseagreen;
}

.welcome {
  text-align: center;
}
.login {
  text-align: center;
}
.topnav{
  text-align: center;
}
.img-container {
  position: relative;
  top: 50%;
  width: 120%;
  text-align: center;
  font-size: 18px;
}
.size {
  font-size: 18px;
}
.Colour {
  font-size: 18px;
}
.funny {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 10px;
}
/* container makes a area of content */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.d-flex {
  display: flex;
}
.justify-content-sa {
  justify-content: space-around;
}
.form-control {
  min-width: 80px;
  padding: 4px 8px;
}
.btn {
  padding: 5px 20px;
  border-radius: 8px;
}
.btn-submit {
  background: #fff;
  border-color: #fff;
}
.contact{
 text-align: center;
 position: relative;
}
.bottom-container{
    position: relative;
    text-align: center;
}
/* targeting screen */
@media screen and (min-width: 600px) {
  body {
    background-color: #f48484;
    
  }
}
/* targeting printer */
@media print (min-width: 500px) {
  body {
    background-color: #f48484;
    color: white; 
  } 
}
/* target multiple devices
@media screen, print {

} */

/* Target min and max best practice */

/* target min
@media (min-width: 500px) {
  .container {
  padding: 20px;
  background-color: red;
  }
} */

/* target max
@media (min-width: 700px) {
  .container {
  padding: 70px;
  background-color: blue;
  }
} */
